Package: com.dgh0st.reachoffset
Name: ReachOffset
Depends: mobilesubstrate
Version: 1.4
Architecture: iphoneos-arm
Description: Set a custom reachability offset.
Maintainer: DGh0st <deeppwnage@yahoo.com>
Author: DGh0st <deeppwnage@yahoo.com>
Section: Tweaks
